.footer__column-link{
  font-family: 'Inter', 'Arial', sans-serif;
  color: white;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer__column-link:hover{
  opacity: .7;
  transition: .5s;
}
