.khan__author{
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'inter', Arial, sans-serif;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
