.header__link{
  color: #2f80ed;
  text-decoration: none;
  font-family: 'inter', Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.header__link:hover{
  opacity: .7;
  transition: .5s;
}
