.kaufman__triangle{
  position: absolute;
  right: -210px;
  z-index: 0;
  background-image: url('../../../images/kaufman-triangle.svg');
  background-position: -210 0;
  background-size: cover;
  width: 877px;
  height: 877px;
}
